<%- include('partials/header.ejs',{user}) %> 

<h1>
    Popular songs:
</h1>
<% if(typeof popSongs !== 'undefined') {%> 
<% popSongs.forEach(function(search){ %>
    <div class="column">

    </div>
    <p><a href="/search/songs/<%=search.track.commontrack_id%>"><%= search.track.track_name %>, <%= search.track.artist_name%> </a></p>
<%})}%> 


<h1>Public playlists you might like</h1>
<% if(publicPlaylists.length > 5) {%>
    <% while(publicPlaylists.length > 5){publicPlaylists.pop()}%> 
    <% } %>  
<% publicPlaylists.forEach(function(playlist){ %>
    <div class="column">
        <img class ='avatar' alt="user avatar" src ='https://avatars.dicebear.com/api/bottts/<%=playlist.user.name%><%=playlist.user.id %>.png?size=40'>
        <p><strong>Playlist name: </strong><%= playlist.name %><br><strong>By: </strong> <%=playlist.user.name%></p>
        <form method="GET" action='/playlists/<%=playlist.id%>'>
            <button type="submit">See the deets</button>
            </form>
    </div>
    <% }) %>  
<%- include('partials/footer.ejs') %> 