<%- include('partials/header.ejs',{user}) %> 
<% if(searchBy == 'songs'){ %> 
<h1>
    List of searches:
</h1>
<% search.forEach(function(search){ %>
    <div onclick="location.href='/search/songs/<%=search.track.commontrack_id%>';" class="column">
        <p><%= search.track.track_name %><br> - <%= search.track.artist_name%></p>
    </div>
<%})%> 
<% } else if(searchBy == 'artists'){ %> 
<h1>
    List of artists:
</h1>
<% artistList.forEach(function(search){ %>
    <div onclick="location.href='/search/artists/<%=search.artist.artist_id%>';" class="column">
        <p> <%= search.artist.artist_name %>, <%= search.artist.artist_id%> </p>
    </div>
<%})%> 
<% }else{%>
    <h1>
        List of all songs user has in playlists:
    </h1>
    <% song.forEach(function(track){ %>
        <div onclick="location.href='/search/songs/<%=track.track%>';" class="column " style="border-bottom: 2px solid rgb(98, 63, 44);box-shadow: 0 15px 15px rgba(98, 63, 44, 0.275);padding: 15px; width:fit-content">
            <p><%= track.name%><br>- <%= track.artist%></p>
        </div>
    <%})%> 
    <% } %> 
<%- include('partials/footer.ejs') %> 