<%- include('partials/header.ejs',{user}) %> <%
playlists.forEach(function(playlist){%>
<div class="column" style="font-size: larger">
  <img
    class="avatar"
    alt="user avatar"
    src="https://avatars.dicebear.com/api/bottts/<%=playlist.user.name%><%=playlist.user.id %>.png?size=40"
  />
  <p>
    <strong>Playlist name: </strong> <%= playlist.name %><br /><strong
      >By:
    </strong>
    <%=playlist.user.name%>
  </p>

  <form method="GET" action="/playlists/<%=playlist.id%>">
    <button type="submit">See the deets</button>
  </form>
</div>

<%}) %> <% if(playlists.length==0){ %>
<p>Sorry no results for your search</p>
<% } %> 
<%- include('partials/footer.ejs') %>
