
<%- include('partials/header.ejs',{user}) %> 
<% if(view||owner){ %>  
    <h2>You will see the list of songs inside of <%=playlist.name%> playlist</h2>
    <%songs.forEach(function(song){  %> 
        <p><a href="/users/songs/<%=song.track%>"><%= song.name %></a></p>
        <% if(owner){%>
            <form method='POST' action="/playlists/<%=playlist.name%>/songs/<%=song.track%>/?_method=DELETE">
                <button type="submit">Remove from playlist</button>
            </form>
            <%} %> 
            <%})%>
            <% }else{ %>
                <p>you do n0t have permistion</p>
        <% } %>  
    <%- include('partials/footer.ejs') %> 