
<%- include('partials/header.ejs',{user}) %>
<% if(view||owner){ %>
    <% if(owner){ %>
        <button type="button" onclick="openEditForm('form', 'openButton')" id ="openButton" >Edit</button>
        <div id="form" class ='hide'>
            <form method ='POST' action="/playlists/?_method=PUT">
                <input name="playlist" type="hidden" value="<%=playlist.name%>">
                <label for="newName">update name:</label>
                <input id="newName" type="text" name ='newName'/>
                <label for="public">public: </label>
                <input id='public' value='public' type ='radio' name='status' required/>
                <label for="private">private: </label>
                <input id='private' value='private' type ='radio' name='status' required/>
                <button type="submit">update</button>
            </form>
            <form method="POST" action="/playlists/?_method=DELETE">
                <button name="deletePlaylist" type="submit" value="<%=playlist.name%>">Delete</button>
            </form>
            <button type="button" onclick="closeEditForm('form','openButton')" id ="closeButton" >Close</button>
        </div>
    <% }else {%>
        <% if(user){%>
            <% if(userLike){ %>
                <p>You have this liked </p>  
                <form method="POST" action="/playlists/likes?_method=DELETE">
                    <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                    <button type="submit">Remove Like</button>
                </form>
                <% }else{%>                 
                    <form method="POST" action="/playlists/likes">
                        <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                        <button type="submit">Like</button>
                    </form>
                    <%} %> 
            <form method="POST" action="/playlists/comments">
                <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                <p><label for="comment">Add a comment:</label></p>
                <textarea id="comment" name="comment" required></textarea><br>
                <button type="submit">Comment</button>
            </form>
            <br>
       <% } %>  
    <% } %>
    <p>Num of Likes : <%=likes%> </p>

        <% comments.forEach(function(comment){%>
            <p><%=comment.comment%> </p>
            <% if(user){%> 
                <%if(comment.userId==user.id){%>
                    <% let formId = `a${comment.id}`%> 
                    <% let buttonId = `b${comment.id}`%>  
                    <button type="button" onclick="openEditForm('<%=formId%>','<%=buttonId%>')" id ="<%=buttonId%>">⋮</button>
                    <div class ='hide' id="<%=formId%>">
                        <form method="POST" action="/playlists/comments?_method=DELETE">
                            <input name="commentId" type="hidden" value="<%=comment.id%>">
                            <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                            <button type="submit">Delete Comment</button>
                        </form>
                        <form method="POST" action="/playlists/comments?_method=PUT">
                            <input name="commentId" type="hidden" value="<%=comment.id%>">
                            <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                            <textarea id="updatedComment" name="updatedComment" required></textarea>
                            <button type="submit">Edit Comment</button>
                        </form>
                        <button type="button" onclick="closeEditForm('<%=formId%>','<%=buttonId%>')">close</button>
                    </div>
                <%}  %> 
                <% } %> 
         <%}) %>  
     <br>    
    <h2>You will see the list of songs inside of <%=playlist.name%> playlist</h2>
    <%songs.forEach(function(song){%>
        <p><a href="/search/songs/<%=song.track%>"><%= song.name %></a></p>
        <% if(owner){%>
            <form method='POST' action="/playlists/<%=playlist.name%>/songs/<%=song.track%>/?_method=DELETE">
                <button type="submit">Remove from playlist</button>
            </form>
            <%} %> 
            <%})%>
    <% }else{ %>
                <p>you do n0t have permistion</p>
        <% } %> 
        <script>
            function openEditForm(open,close){
                document.getElementById(open).style.display ='block'
                document.getElementById(close).style.display ='none'
            }
            function closeEditForm(close,open){
                document.getElementById(close).style.display='none'
                document.getElementById(open).style.display ='block'
            }
        </script> 
    <%- include('partials/footer.ejs') %> 