
<h2>You will see the list of songs inside of your <%=playlist.name%> playlist</h2>
<%songs.forEach(function(song){  %> 
    <p><a href="/users/songs/<%=song.track%>"><%= song.name %></a></p>
    <form method='POST' action="/playlists/<%=playlist.name%>/songs/<%=song.track%>/?_method=DELETE">
        <button type="submit">Remove from playlist</button>
    </form>
    <%})%>