<%- include('partials/header.ejs',{user}) %>
<% if(view||owner){ %>
    <% if(owner){ %>
        <button type="button" onclick="openForm()" id ="openButton" >Edit</button>
        <div id="form">
            <form method ='POST' action="/playlists/?_method=PUT">
                <input name="playlist" type="hidden" value="<%=playlist.name%>">
                <label for="newName">update name:</label>
                <input id="newName" type="text" name ='newName'/>
                <label for="public">public: </label>
                <input id='public' value='public' type ='radio' name='status' required/>
                <label for="private">private: </label>
                <input id='private' value='private' type ='radio' name='status' required/>
                <button type="submit">update</button>
            </form>
            <form method="POST" action="/playlists/?_method=DELETE">
                <button name="deletePlaylist" type="submit" value="<%=playlist.name%>">Delete</button>
            </form>
            <button type="button" onclick="closeForm()" id ="closeButton" >Close</button>
        </div>
    <% }else {%>
        <% if(user){%> 
            <form method="POST" action="/playlists/comments">
                <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                <p><label for="comment">Add a comment:</label></p>
                <textarea id="comment" name="comment" required></textarea><br>
                <button type="submit">Comment</button>
            </form>
            <br>
            <form method="POST" action="/playlists/likes">
                <input name="playlistId" type="hidden" value="<%=playlist.id%>">
                <button type="submit">Like</button>
            </form>
       <% } %>  
    <% } %>
    <p>Num of Likes : <%=likes%> </p>
    <p>comments: </p>   
    <% comments.forEach(function(comment){%> 
        <p><%=comment.comment%> </p>
     <%}) %>    
    <h2>You will see the list of songs inside of <%=playlist.name%> playlist</h2>
    <%songs.forEach(function(song){  %> 
        <p><a href="/search/songs/<%=song.track%>"><%= song.name %></a></p>
        <% if(owner){%>
            <form method='POST' action="/playlists/<%=playlist.name%>/songs/<%=song.track%>/?_method=DELETE">
                <button type="submit">Remove from playlist</button>
            </form>
            <%} %> 
            <%})%>
            <% }else{ %>
                <p>you do n0t have permistion</p>
        <% } %> 
        <script>
            function openForm(){
                document.getElementById('form').style.display ='block'
                document.getElementById('openButton').style.display ='none'

            }
            function closeForm(){
                document.getElementById('form').style.display='none'
                document.getElementById('openButton').style.display =''
            }
        </script> 
    <%- include('partials/footer.ejs') %> 