<%- include('partials/header.ejs',{user}) %>
<h1>Specific details of song: <%=song.track_name%></h1>
<br />
<h2>
  By: <a href="/search/artists/songs/?artistName=<%=song.artist_name%>&artistId=<%=song.artist_id%>"><%=song.artist_name%></a>
</h2>
<br />
<img alt="<%=song.track_name%>" src="<%=img.img%>" />
<br />
<% if(playlists) {%>
<form method="POST" action="/playlists/songs/<%=song.commontrack_id%> ">
  <label for="list">Select playlist:</label>
  <select name="playlist" id="list">
    <% playlists.forEach(function(playlist){ %>
    <option value="<%=playlist.name%>"><%=playlist.name%></option>
    <% }) %>
  </select>
  <button type="submit">Add to playlist</button>
</form>
<% } %> <br />
<h2>Lyrics:</h2>
<br />
<% if(lyrics === undefined){ %>
<p>There are no lyrics available for this song</p>
<% }else{ %> <% for( let i in lyrics){%>
<p style="padding-bottom: 10px"><%= lyrics[i] %></p>
<% } %>
<br />
<p><%=copyRight.lyrics_copyright%></p>
<script type="text/javascript" src="<%=copyRight.script_tracking_url%>"></script>
<%} %> 
<%- include('partials/footer.ejs') %>
