<h1>Specific details of song: <%=song.track_name%></h1>
<h2>By: <%=song.artist_name%></h2>

<form method ='POST' action="/users/songs/<%=song.commontrack_id%> ">
    <label for="list">Select playlist:</label>
    <select name="playlist" id="list">
        <% playlists.forEach(function(playlist){ %> 
            <option value="<%=playlist.name%>"><%=playlist.name%> </option>
            <% }) %> 
    </select>
    <button type="submit">Add to playlist</button>
</form>
<h2>Lyrics:</h2>
<p><%=lyrics.lyrics_body%></p>

<p><%=lyrics.lyrics_copyright%></p>
<script type="text/javascript" src="<%=lyrics.script_tracking_url%>"></script>