<%- include('../partials/header',{user}) %>
<h3>Hey, <%= user.name %> thanks for logging into the app </h3>
<p>view your playlist here</p>

<% playlists.forEach(function(playlist){ %>
    <% let status %> 
    <% playlist.status== true ? status = 'public' : status = 'private' %> 
<p><%= playlist.name %>, <%=status %> </p>
<form method="GET" action='/playlists/<%=playlist.id%>'>
<button type="submit">See the deets</button>
</form>

<%})%>
<ion-icon name="add-circle-outline"></ion-icon>
<form method="POST" action="/playlists">
    <label for="newPlaylist">Create a new playlist: </label>
    <input id='newPlaylist' type ='text' name='newPlaylist' autocomplete="off" required/>
    <label for="public">public: </label>
    <input id='public' value='public' type ='radio' name='status' required/>
    <label for="private">private: </label>
    <input id='private' value='private' type ='radio' name='status' required/>
    <button type="Submit">Submit</button>
    <ion-icon name="add-circle-outline"></ion-icon>
</form>

<form method="GET" action="/playlists/songs">
    <button type="submit">See list of all your songs</button>
</form>

<form method="GET" action="/users/actions">
    <button type="submit">See list likes and comments</button>
</form>

<% if(playlists.length>0){%>
    <form method ='POST' action="/playlists/?_method=DELETE">
        <label for="deletePlaylist">Delete a playlist:</label>
        <select name="deletePlaylist" id="deletePlaylist">
            <% playlists.forEach(function(playlist){ %> 
                <option value="<%=playlist.name%>"><%=playlist.name%> </option>
                <% }) %> 
        </select>
        <button type="submit">Remove</button>
    </form>
<%} %> 
<script>
    
</script>
<%- include('../partials/footer') %>
