<%- include('../partials/header',{user}) %>
<h3>Hey, <%= user.email %> thanks for logging into the app </h3>
<p>view your playlist here</p>

<% playlists.forEach(function(playlist){ %>
<p><%= playlist.name %> </p>
<form method="GET" action='/users/playlists/<%=playlist.name%>'>
<button type="submit">See the deets</button>
</form>

<%})%>

<form method="POST" action="/users/playlists">
    <label for="newPlaylist">Create a new playlist: </label>
    <input id='newPlaylist' type ='text' name='newPlaylist' required/>
    <button type="Submit">Submit</button>
</form>

<form method ='POST' action="/users/playlists/?_method=PUT">
    <label for="playlist">Rename a playlist:</label>
    <select name="playlist" id="playlist">
        <% playlists.forEach(function(playlist){ %> 
            <option value="<%=playlist.name%>"><%=playlist.name%> </option>
            <% }) %> 
    </select>
    <label for="newName">New name:</label>
    <input id="newName" type="text" name ='newName' required/>
    <button type="submit">Add to playlist</button>
</form>
<form method ='POST' action="/users/playlists/?_method=DELETE">
    <label for="deletePlaylist">Delete a playlist:</label>
    <select name="deletePlaylist" id="deletePlaylist">
        <% playlists.forEach(function(playlist){ %> 
            <option value="<%=playlist.name%>"><%=playlist.name%> </option>
            <% }) %> 
    </select>
    <button type="submit">Remove</button>
</form>
<%- include('../partials/footer') %>
